build-systray-Desktop-Debug/
build-systray-Desktop-Release/
build-systray-Desktop-Profile/
systray
podman-systray
podman-systray.exe
systray.pro.user
# qmake
.qmake.stash
Makefile
moc_predefs.h
moc_*.cpp
qrc_*.cpp
*.o
